 .container{
    background-color:#2f4f4f. rgb (47,79,79);
     padding-left: 250px;
     font-size: x-large;
     font-weight: bold;
     
}

.title{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-size:2cm;
    font-style:italic;
}

span.image-radio input[type="radio"]:checked + img{
    border:1px solid red;
}
