 .container{
    background-color:rgb(37, 141, 238);
     padding-left: 250px;
     font-size: x-large;
     font-weight: bold;
     
}

.title{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-size:2cm;
    font-style:italic;
}

span.image-radio input[type="radio"]:checked + img{
    border:1px solid #red;
}
